.mainbody {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #e8e8e8;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  border-right: 2.5px solid #bbbcbe38;
  width: 250px;
  align-items: center; /* Center items horizontally */
}

.logo2 {
  width: 150px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sidebar li,
ul {
  align-self: flex-start;
  margin-bottom: 15px;
}
.sidebar a {
  color: black;
  font-family: "Poppins";
  font-weight: 600;
}
.sidebar a:hover {
  color: #35408f;
  font-family: "Poppins";
  font-weight: 600;
}

.sidebar .FontAwesomeIcon {
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take up the remaining space */
  overflow-y: auto; /* Allow scrolling if content overflows */
  padding: 0;
}
.adminnavbar {
  width: 100%;
  background-color: white;
  margin: 0;
  height: 90px;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.adminnavbar p {
  margin: 0;
  margin-left: 30px;
  color: black;
  text-shadow: none;
  font-family: "Poppins";
}

.header {
  font-weight: 500;
  font-size: 25px;
}

.adminnavbar input {
  height: 45px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  border: 2.5px solid #e8e8e8;
  margin-right: 10px;
  text-align: center;
  font-family: "Poppins";
  font-size: large;
  letter-spacing: 10px;
  color: black;
}

.adminnavbar input::placeholder {
  color: #bbbcbe;
  letter-spacing: normal;
  font-size: medium;
}

.adminnavbar button {
  background-color: #00aeff;
  margin-right: 20px;
}

.dashboardbody {
  background-color: #e8e8e8;
  width: 100%;
  flex: 1;
  padding: 30px;
}
.panels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 250px;
  background: linear-gradient(170deg, #00aeff, #35408f); /* Blue gradient */
  padding: 30px;
  border-radius: 15px;
}

.panel p {
  font-family: "Poppins";
  text-shadow: none;
}

.panelh2 {
  font-style: bold;
  font-size: 90px;
}
.panelp {
  font-style: bold;
  font-size: 28px;
}
.ptag {
  text-shadow: none;
  color: #2f2f2f;
  font-family: "Poppins";
  font-size: large;
  margin-top: 20px;
  margin-bottom: 10px;
}
.table-container {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid #35408f; /* Outer border color */
  overflow: hidden; /* To ensure rounded corners are visible */
}

.report-table {
  width: 100%;
  border-collapse: collapse; /* Collapses table borders */
  outline: 2px solid #35408f; /* Add outline around the table */
}

.report-table thead {
  background-color: #35408f; /* Header background color */
  color: white; /* Header text color */
}

.report-table th,
.report-table td {
  font-family: "Poppins";
  padding: 12px; /* Cell padding */
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid lightgray; /* Bottom border for cells */
}
.report-table th {
  padding: 12px; /* Cell padding */
  text-align: center; /* Align text to the left */
  border-bottom: 1px solid lightgray; /* Bottom border for cells */
  font-weight: normal; /* Change header text to normal (not bold) */
  font-size: large;
}
.report-table td {
  color: #464646;
  background-color: white;
  outline: 1px solid #35408f; /* Outline for body cells */
}

.categoryx {
  display: flex;
  align-items: center;
}
.categoryx p {
  margin-right: 15px;
}

.categoryx button {
  background-color: #e8e8e8;
  color: rgb(49, 49, 49);
  font-size: small;
}
.categorybutton {
  height: 30px;
  font-family: "Poppins";
  border-radius: 25px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.adminh2 {
  color: black;
  font-family: "Poppins";
  margin-right: 25px;
  font-size: 2.8em;
  font-weight: 500;
}
.containerlostdata {
  padding: 30px;
  width: 100%;
}
.lostitemcontainer {
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.132);
  justify-self: center;
}
.lostitemcontainer hr {
  margin: 0;
  width: 100%;
}
.lostitembody {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.lostitembody1 {
  display: flex;
  flex-direction: row;
}
.lostitemimg {
  width: 180px;
  height: 180px;
  background-color: #e6e6e6;
  border-radius: 25px;
  align-self: center;
}
.lostitemtop {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.2px solid #bbbcbe;
  align-items: center;
}
.lostitemcontainer label {
  color: #2f2f2f;
  font-family: "Poppins";
  margin: 0;
}

label.lostitemlabel {
  font-weight: 800px;
  color: rgb(53, 53, 53);
  font-size: 1.2em;
}

.lostitempanel1 {
  display: flex;
  width: 200px;
  margin-right: 20px;
  flex-direction: column;
}
.lostitempanel2 {
  display: flex;
  width: 200px;
  margin-right: 20px;
  flex-direction: column;
}
label.lostitemlabel2 {
  color: #bbbcbe;
  font-size: 0.7em;
  margin: 0;
}
label.lostitemlabel {
  color: #222222;
  font-size: 1.5em;
  font-weight: 900px;
}
.lostitemicon {
  width: 30px;
  height: auto;
  margin-left: 8px;
}

.lostitemimg2 {
  width: 35px;
  padding: 5px;
  height: 35px;
  background-color: #35408f;
  margin-bottom: 5px;
}

.sidebar svg {
  width: 30px;
}
